{% extends "layout.html" %}
{% block body %}
    <div class="row text-center align-items-end m-5">
        <!-- Pricing Table-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="bg-white p-5 rounded-lg shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Street</h1>
            <h2 class="h1 font-weight-bold">&euro; 200 </h2>
  
            <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
            <ul class="list-unstyled my-5 text-small text-left">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Two hours professional shooting</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> 10 professionally retouched photos</li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Professional Photo Studio</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Make Up Artist</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Fashion Stylist</del>
              </li>

              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Promotion in Social Media</del>
              </li>
            </ul>
          </div>
        </div>
        <!-- END -->
  
  
        <!-- Pricing Table-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="bg-white p-5 rounded-lg shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Studio</h1>
            <h2 class="h1 font-weight-bold">&euro; 350 </h2>
  
            <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Two hours professional shooting</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> 10 professionally retouched photos</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Professional Photo Studio</li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Make Up Artist</del>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Fashion Stylist</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Promotion in Social Media</del>
              </li>
            </ul>
          </div>
        </div>
        <!-- END -->
  
  
        <!-- Pricing Table-->
        <div class="col-lg-4">
          <div class="bg-white p-5 rounded-lg shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Full Kit</h1>
            <h2 class="h1 font-weight-bold">&euro; 500</h2>
  
            <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Two hours professional shooting</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> 20 professionally retouched photos</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Professional Photo Studio</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Make Up Artist</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Fashion Stylist</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Promotion in Social Media</li>
            </ul>
          </div>
        </div>
        <!-- END -->
{% endblock %}